# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables

.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# User uploads
assets/uploads/

# Database
*.sqlite
*.db

# Jupyter Notebook
.ipynb_checkpoints

venv/